@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Fh Total';
    src: url('./fonts/FHTotalFine-Test-Thin-BF6514dd5b17c63.otf') format('opentype'); /* Adjust the path and format as needed */
    font-weight: 200;
    font-style: 100;
  }